.nearby{
    margin-top: calc(2vw + 1rem);
    padding-left: 1vw;
    h2{
        font-size: calc(15px + 1vw);
        font-weight: bolder;
        margin-bottom: calc(1vw + 1rem);
    }

    
.small_cart{
    display: flex;
    gap:1rem;
    align-items: center;
    &:hover{
        transform: scale(1.1);
        background-color: whitesmoke;
        transition: transform 0.5s ease;
    }

    .cart_img{
        position: relative;
        height: calc(2rem + 4vw);
        width: calc(2rem + 4vw);
        .img{
            border-radius: 20px;;
        }
    }
   
    .text{
        // position: absolute;
   
        h3{
            font-weight: bold;
            font-size: calc(1vw + 10px);
        }
        p{
            color:grey;
            font-size: calc(1vw + 5px);
        }
    }
}
}


