.header{
    display: flex;
    padding-top:1.5rem;
    padding-bottom: 1.5rem;
    align-items: center;
    justify-content: space-between;
    .brand{
        height: 2rem;
        width: 10rem;
        position: relative;
        &:hover{
            cursor: pointer;
        }
    }
    .search{      
        flex:0.5;
        border: 1px grey solid;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem; 
        input{
            border: none;
            &:focus{
                outline: none;
            }
        }
    }

    .icon_group{
        color: black;
        display: flex;
        align-items: center;
        gap:0.25rem;
        .host{
            color:black;
            font-weight: bolder;
            text-transform: none;
            font-size: 0.8rem;
        }

        .menu_person{
            margin-left: 0.5rem;
            display: flex;
            align-items: center;
            border: 1px solid grey;
            border-radius: 20px;
        }
    }
}

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    .calendar{
        position: relative;
    }
    .guests{
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2{
            font-weight: bolder;
        }
        input{
            width: 2.5rem;
            margin-left: 0.5rem;
        }
    }

    
}



@media  (max-width: 500px ) {
    .header{     
        padding: 0.5rem;
        justify-content: center;
        .brand{
            display: none;
        }
        .search {
            border:none;
            
            input{
                padding:0.2rem 1rem;
                border: 1px grey solid;
                border-radius: 20px;
            }
        }
        .icon_group{
            display: none;
        }
    }


}



