.medium_cart{

    padding-left: 1vw;
    margin-top: 2rem;
    h2{
        font-size: calc(15px + 1vw);
        font-weight: bolder;
    }
    .cart_group{
        display: flex;
        gap:1rem;
        margin-top: 1rem;
    }
   
}

.cart_item{
    .cart_img{
        height: calc(4rem + 15vw);
        width: calc(4rem + 15vw);
        position: relative;
    }
    &:hover{
        transform: scale(1.05);
        background-color: whitesmoke;
        transition: transform 1s ease;
    }
    .img{
        border-radius: 20px;
        width: 100%;
    }
    h2{
        font-size: calc(10px + 1vw);
        color:grey;
    }
}