.medium_cart{

    padding-left: 1rem;
    margin-top: 2rem;
    h2{
        font-size: 2rem;
        font-weight: bolder;
    }
    .cart_group{
        display: flex;
        gap:1rem;
       
       
    }
   
}

.cart_item{
    position: relative;
    // overflow: auto;
    &:hover{
        transform: scale(1.05);
        background-color: whitesmoke;
        transition: transform 1s ease;
    }
    .img{
        border-radius: 20px;
        width: 100%;
    }
    h2{
        font-size: 1rem;
        color:grey;
    }
}