.nearby{
    margin-top: 2rem;
    padding-left: 1rem;
}



.small_cart{
    margin-top: 2rem;
    display: flex;
    gap:1rem;
    align-items: center;
    &:hover{
        transform: scale(1.1);
        background-color: whitesmoke;
        transition: transform 0.5s ease;
    }

    .cart_img{
        position: relative;
        .img{
            border-radius: 20px;;
            width: 100%;
        }
    }
   
    .text{
        h2{
            font-weight: bold;
            font-size: 1.5rem;
        }
        p{
            color:grey;
            font-size: 1rem;
        }
    }
}