.my-container{
    width:90vw;
    margin-left: auto;
    margin-right: auto;
}


.my-container-big{
    width:90vw;
    margin-left: auto;
    margin-right: auto;
}

.z-100{
    z-index: 100;
}




@media  (min-width: 1280px ) {
    .my-container{
        width:1124px;
    }
}

@media  (max-width: 768px ) {
    .my-container-big{
        width:95vw;
    }
}